node_modules
.serverless/*
.vscode/*
.pytest_cache
.mypy_cache
__pycache__
dist/*
yarn-error.log
.env
*_cache
.terraform
*/.terraform.lock.hcl
terraform/builds
**/*.tfbackend
requirements.txt
.env.local
.env.development.local
.env.test.local
.env.production.local